// Here lies the related styles to Showcase.js

.tree-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tree-container > div[class*='container'] {
  margin: 1%;
}
