// Here lies the related styles to Image.js

img {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

img.d-show {
  opacity: 1;
  visibility: inherit;

  animation-duration: 0.5s;
  animation-name: fadeIn; // Due to its multiple usage its moved to App.scss
  animation-timing-function: linear;
}

img.d-none {
  opacity: 0;
  visibility: hidden;

  animation-duration: 0.5s;
  animation-name: fadeOut;
  animation-timing-function: linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: inherit;
  }
  30% {
    opacity: 1;
    visibility: inherit;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
